	<%= form_for(@text_story) do |f| %>
	  <% if @text_story.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@text_story.errors.count, "error") %> prohibited this text_story from being saved:</h2>

	      <ul>
	      <% @text_story.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
  
	  <input type="hidden" name="category_id" value="<%=params[:category_id] %>">  
		
		<div class="question">
		  <div class="field">
		    	<%= f.label :question %><br />
			    <% if @questions %>
					  <%= f.collection_select :question_id, @questions, :id, :inquiry %>
					<% else %>
			  		<%= Question.find(@text_story.question_id).inquiry %>
					<% end %>
				</div>
			</div>
			
			<div class="text">
				<div class="field">
			    <%= f.label :text, "Write a short story below:" %><br />
			    <%= f.text_area :text %>
			  </div>
			</div>
			

	  <div class="actions">
	    <%= f.submit :class => "btn" %>
	  </div>
	
	<% end %>

