<h1>I want to write about...</h1>
<h2>Click a topic below and we'll provide some questions to help get you started!</h2>

<%= button_to "My Younger Years", new_write_url, :method => "get" %>
<%= button_to "Lessons Learned", new_write_url, :method => "get" %>
<%= button_to "Love & Family", new_write_url, :method => "get" %>
<%= button_to "Travel", new_write_url, :method => "get" %>
<%= button_to "Health History", new_write_url, :method => "get" %>
<%= button_to "Miscellaneous Quirks", new_write_url, :method => "get" %>