
	<%= form_for @photo, :html => {:multipart => true} do |f| %>
	  <% if @photo.errors.any? %>
	    <div id="error_explanation">
	      <h2>
					<%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:
				</h2>

	      <ul>
	      <% @photo.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label :question, "Question:" %><br />
	    <% if @questions %>
			  <%= f.collection_select :question_id, @questions, :id, :inquiry %>
			<% else %>
	  		<%= Question.find(@photo.question_id).inquiry %>
			<% end %>
			</div>
		
		<div class="field">
			<%= f.file_field :image %>
		</div>
		
	  <!-- <div class="field"><br />
	      <%#= f.label :embed_url, "Image URL:" %><br />
	      <%#= f.text_field :embed_url %>
	    </div><br /> -->

	  <div class="field">
	    <%= f.label :text, "Write a short story to explain your photo:" %><br />
	    <%= f.text_area :text %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Submit Photo Story" %>
	  </div>
	<% end %>

