<p class="btn"><%= link_to 'NEW STORY', root_url %></p>

<h1>Listing photos</h1>

<% @photos.each do |photo| %>
	<div class="thumbnail">
		<p><%= image_tag(photo.image_url(:thumb)) %></p>
	</div>
	<div class="photo-text">
	    <p>
					<span>Question:</span>
					<%= Question.find(photo.question_id).inquiry %>
			</p>
	    <p>
					<span>Story:</span>
					<%= photo.text %>
			</p>
	    <p>
					<%= link_to 'Show', photo %> | <%= link_to 'Edit', 	
					edit_photo_path(photo) %> | <%= link_to 'Destroy', 		
					photo, confirm: 'Are you sure?', method: :delete %>
			</p>
	</div>
	<div class="clear"></div>
<% end %>



