<p id="notice"><%= notice %></p>

<p>
  <b>Text:</b>
  <%= @photo.text %>
</p>

<p>
  <b>Question:</b>
  <%= @photo.question_id %>
</p>

<p>
  <%= image_tag @photo.embed_url %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
