<script>
	$(function() {
		$( ".accordion" ).accordion();
	});
</script>
<% title "View Your Stories" %>
<hgroup>
  <h1>Hello, <%= @user.first %>!</h1>
  <h2>Below are the stories you've created thus far. Click each one to view in more detail.</h2>
</hgroup>

<section>
  <h1>Your Text Stories:</h1>
	<div class="title">
  	<% @user.text_stories.each do |s| %>
		<h3><%= s.question.inquiry %><span> Click to read more and edit</span></h3>
  	<!-- <div class="readMore"><%= raw(truncate(s.text, :length => 100, :omission => " Read More")) %></div> -->
		</div>
			<div class="readMore">
				<p><%= s.text %></p>
			<div class="back">
				<p><%= link_to 'Edit', edit_text_story_path(s) %> | <%= link_to 'Delete', s, confirm: 'Are you sure?', method: :delete %></p>
			</div>
  <% end %>
  </div>
</section>

<section>
  <h1>Your Photo Stories:</h1>
  <% @user.photos.each do |s| %>
		<div class="title">
  		<h3><%= s.question.inquiry %><span> Click to read more and edit</span></h3>
		</div>
		<div class="readMore">
  	<figure>
    	<%= image_tag(s.image_url(:thumb)) %>
			<%= s.text %>
    	<!-- <figcaption><%= raw(truncate(s.text, :length => 100, :omission => (link_to "...Read More", s))) %><figcaption> -->
  	</figure>
			<div class="back">
				<p>
						<%= link_to 'Edit', edit_photo_url(s) %> | <%= link_to 'Delete', 		
						s, confirm: 'Are you sure?', method: :delete %>
				</p>
			</div>
		</div>
  <% end %>
</section>

<section>
  <h1>Your Video Stories:</h1>
  <div class="title">
  <% @user.videos.each do |video| %>
  <h3><%= video.question.inquiry %><span> Click to read more and edit</span></h3>
	</div>
	<div class="readMore">
  	<figure>
    	<a href="#" id="video-<%= video.archive_id %>" class="link-to-video">See video!</a>
  	</figure>
			<div class="back">
			<p>
					<%= link_to 'Delete', video, confirm: 'Are you sure?', method: :delete %>
			</p>
			</div>
	</div>
  <% end %>
  </div>
</section>

<%= javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js" %>

<script>
	var recorderManager;
	var recorder;
	var player;
	var recImgData;

	var API_KEY = "<%= @api_key %>";  // OpenTok sample code key. Replace with your own API key.
	var TOKEN = 'moderator_token';

	var VIDEO_HEIGHT = 240;
	var VIDEO_WIDTH = 320;

	function init() {
    recorderManager = TB.initRecorderManager(API_KEY);
	}

	function loadArchiveInPlayer(archiveId) {
    //    var div = $('body').append('<div />', { id: 'video-' + archiveId });
    // recorderManager.displayPlayer(archiveId, TOKEN, 'video-' + archiveId);
	}

	function loadPlayer(archiveId){
    recorderManager.displayPlayer(archiveId, 'moderator_token', 'video-' + archiveId);
  }
  
  function loadPlayers(ids){
    $.each(ids, function(index,archiveId){
      loadPlayer(archiveId);
    });
  }

	$(document).ready(function(){
    //    $('.link-to-video').click(function(e){
    //       e.preventDefault()
    //      var archiveId = $(this).attr('id').replace('link-', '');
    //      loadArchiveInPlayer(archiveId);
    //    });
    // 
    init();
    
    ids = new Array("<%= raw(@user.videos.map{|v| v.archive_id}.join('","')) %>");
    
    loadPlayers(ids);
	});
</script>


