<% title "View Your Stories" %>

<h1>Hello, <%= @user.first %>!</h1>

<h2>Below are the stories you've created thus far. Click each one to view in more detail.</h2>


<% @user.text_stories.each do |s| %>
	<hr style="border: 1px solid #333" />
	<%= s.question.inquiry %>
	<%= truncate(s.text, :length => 100, :omission => '...(read more)') %>
	<hr style="border: 1px solid #333" />
<% end %>


<% @user.photos.each do |s| %>
	<hr style="border: 1px solid #333" />
	<%= s.question.inquiry %>
	<%= image_tag(s.image_url(:thumb)) %>
	<%= truncate(s.text, :length => 100, :omission => '...(read more)') %>
	<hr style="border: 1px solid #333" />
<% end %>


<% @user.videos.each do |video| %>
	
  <a href="#" id="video-<%= video.archive_id %>" class="link-to-video">See video!</a>
	<hr style="border: 1px solid #333" />
	
	
<% end %>

<%= javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js" %>

<script>
	var recorderManager;
	var recorder;
	var player;
	var recImgData;

	var API_KEY = "<%= @api_key %>";  // OpenTok sample code key. Replace with your own API key.
	var TOKEN = 'moderator_token';

	var VIDEO_HEIGHT = 240;
	var VIDEO_WIDTH = 320;

	function init() {
    recorderManager = TB.initRecorderManager(API_KEY);
	}

	function loadArchiveInPlayer(archiveId) {
    //    var div = $('body').append('<div />', { id: 'video-' + archiveId });
    // recorderManager.displayPlayer(archiveId, TOKEN, 'video-' + archiveId);
	}

	function loadPlayer(archiveId){
    recorderManager.displayPlayer(archiveId, 'moderator_token', 'video-' + archiveId);
  }
  
  function loadPlayers(ids){
    $.each(ids, function(index,archiveId){
      loadPlayer(archiveId);
    });
  }

	$(document).ready(function(){
    //    $('.link-to-video').click(function(e){
    //       e.preventDefault()
    //      var archiveId = $(this).attr('id').replace('link-', '');
    //      loadArchiveInPlayer(archiveId);
    //    });
    // 
    init();
    
    ids = new Array("<%= raw(@user.videos.map{|v| v.archive_id}.join('","')) %>");
    
    loadPlayers(ids);
	});
</script>