<h1>Hello, <%= @user.first %>!</h1>

<h2>Below are the stories you've created thus far. Click each one to view in more detail.</h2>


<% @user.text_stories.each do |s| %>
	<hr style="border: 1px solid #333" />
	<%= s.question.inquiry %>
	<%= s.text %>
	<hr style="border: 1px solid #333" />
<% end %>


<% @user.photos.each do |s| %>
	<hr style="border: 1px solid #333" />
	<%= s.question.inquiry %>
	<%= image_tag(s.image_url(:thumb)) %>
	<hr style="border: 1px solid #333" />
<% end %>