<% title "View Your Stories" %>

<hgroup>
  <h1>Hello, <%= @user.first %>!</h1>
  <h2>Below are the stories you've created thus far. Click each one to view in more detail.</h2>
</hgroup>

<section>
  <h1>Your Text Stories:</h1>
  <% @user.text_stories.each do |s| %>
  	<h3><%= s.question.inquiry %></h3>
  	<p><%= truncate(s.text, :length => 100, :omission => '...(read more)') %></p>
  <% end %>
</section>

<section>
  <h1>Your Photo Stories:</h1>
  <% @user.photos.each do |s| %>
  	<h3><%= s.question.inquiry %></h3>
  	<figure>
    	<%= image_tag(s.image_url(:thumb)) %>
    	<figcaption><%= truncate(s.text, :length => 100, :omission => '...(read more)') %><figcaption>
  	</figure>
  <% end %>
</section>

<section>
  <h1>Your Video Stories:</h1>
  <% @user.videos.each do |video| %>
    <h3>Video Question</h3>
  	<figure>
    	<a href="#" id="video-<%= video.archive_id %>" class="link-to-video">See video!</a>
    	<figcaption>Video caption<figcaption>
  	</figure>
  <% end %>
</section>

<%= javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js" %>

<script>
	var recorderManager;
	var recorder;
	var player;
	var recImgData;

	var API_KEY = "<%= @api_key %>";  // OpenTok sample code key. Replace with your own API key.
	var TOKEN = 'moderator_token';

	var VIDEO_HEIGHT = 240;
	var VIDEO_WIDTH = 320;

	function init() {
    recorderManager = TB.initRecorderManager(API_KEY);
	}

	function loadArchiveInPlayer(archiveId) {
    //    var div = $('body').append('<div />', { id: 'video-' + archiveId });
    // recorderManager.displayPlayer(archiveId, TOKEN, 'video-' + archiveId);
	}

	function loadPlayer(archiveId){
    recorderManager.displayPlayer(archiveId, 'moderator_token', 'video-' + archiveId);
  }
  
  function loadPlayers(ids){
    $.each(ids, function(index,archiveId){
      loadPlayer(archiveId);
    });
  }

	$(document).ready(function(){
    //    $('.link-to-video').click(function(e){
    //       e.preventDefault()
    //      var archiveId = $(this).attr('id').replace('link-', '');
    //      loadArchiveInPlayer(archiveId);
    //    });
    // 
    init();
    
    ids = new Array("<%= raw(@user.videos.map{|v| v.archive_id}.join('","')) %>");
    
    loadPlayers(ids);
	});
</script>