<!DOCTYPE html>
<html>
  <head>
    <title>eLegacy - <%= yield (:title) || "Demo Day App" %></title>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
	   <link href='http://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  	<div class="container">
  	
      <header>
      	<h1><a href="<%= root_url %>">eLEGACY</a></h1>
      		<ul>
      			<% if current_user %>
      				<li><%= link_to 'SIGN OUT', destroy_user_session_path, :method => :delete %></li>
      			<% else %>
      				<li><%= link_to 'SIGN IN', new_user_session_path %></li>
      				<li><%= link_to 'SIGN UP', new_user_registration_path, :class => 'btn' %></li>
      			<% end %>
      		</ul>				
      </header>

      <nav>
      	 <ul>
	<!-- class on nav doesn't work - still working on it -->
            <li ><a href="/" class="home-nav">Home</a></li>
            <li><a href="/write_a_story" class="story-nav">Write a Story</a></li>
            <li><a href="/write_a_photo_story" class="photo-nav">Upload a Photo Story</a></li>
            <li><a href="/videos" class="video">Record a Video Story</a></li>
      			<% if current_user %>
        			<li><a href="/profile" class="profile-nav">View All My Stories</a></li>
      			<% end %>
      	</ul>
      </nav>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <div class="category">
        <%= yield %>
      </div>

      <footer>
        <p>This is the Footer</p>
      </footer>
		
  	</div><!-- .container -->

  </body>
</html>