<!DOCTYPE html>
<html>
<head>
  <title>DemoDayApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<div class="nav">
			<h1>eLegacy</h1>
		</div>
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>
	
<%= yield %>
	</div>
</body>
</html>
