<!DOCTYPE html>
<html>
<head>
  <title>DemoDayApp</title>
	<link href='http://fonts.googleapis.com/css?family=Patua+One|Merriweather:400,700,900' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>
			<h1><a href="#">eLEGACY</a></h1>
				<ul>
					<li><a href="#">SIGN IN</a></li>
					<li><a class="btn" href="#">SIGN UP</a></li>
				</ul>
		</header>
			
			<nav>
				 <ul>
	          <li><a href="#">Home</a></li>
	          <li><a href="/write_a_story">Write a Story</a></li>
	          <li><a href="/write_a_photo_story">Photo Story</a></li>
	          <li><a href="#">Video Story</a></li>
	        </ul>
			</nav>
			
	<p class="notice"><%= notice %></p>
	       <p class="alert"><%= alert %></p>
		<div class="category">
			<%= yield %>
		</div>
		<div class="clearfooter"></div>
		<footer>
			<p>This is the Footer</p>
		</footer>
	</div>
</body>
</html>
